@use "@/styles/_variables";

.chat-page {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: variables.$breakpoint-mobile) {
    gap: 2rem;
  }

  @media (min-width: variables.$breakpoint-tablet) {
    flex-direction: row;
    height: calc(100dvh - 7.5rem);
    max-height: calc(100dvh - 7.5rem);
  }
}

.chat-messages {
  box-shadow: 0 0.3em 0.6em rgba(black, 0.2);
  background: variables.$light-gray;
  border-radius: variables.$br-md;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60rem;
  width: 100%;

  @media (min-width: variables.$breakpoint-tablet) {
    width: 60%;
    max-width: 60rem;
    height: 100%;
  }
}

.chat-input-wrapper {
  position: relative;
  border-radius: variables.$br-md;
  width: 100%;

  &::after {
    content: "press enter";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: gray;
    font-size: 1.4rem;
    pointer-events: none;
  }
}

.time {
  display: none;
  @media (min-width: variables.$breakpoint-tablet) {
    display: block;
    color: variables.$gray;
    font-size: 1.2rem;
  }
}

.chat-input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid variables.$gray;
  outline: none;
  background-color: variables.$white;
  color: variables.$gray;
  border-radius: variables.$br-md;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.wrapper {
  min-height: 4rem;
  min-width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background: variables.$white;
  cursor: pointer;

  & img {
    width: 3.5rem;
    height: 3.5rem;
  }

  & p,
  span,
  b {
    display: none;
  }

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    border: 1px solid variables.$gray;
  }

  @media (min-width: variables.$breakpoint-tablet) {
    background: variables.$white;
    padding: 0.8rem;
    position: relative;
    display: block;
    border-radius: variables.$br-lg;
    cursor: pointer;
    height: 10rem;
    min-height: 12rem;

    & p,
    span,
    b {
      display: block;
    }

    &:hover {
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    }
  }
}

.header {
  align-items: center;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 100%;
  background: variables.$white;
  border-radius: variables.$br-sm;
  z-index: 3;
}