.container {
  display: flex;
  height: 90rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // background: green;
}

.list {
  display: flex;
  flex-direction: column;
  // background: orange;
  gap: 1rem;
  padding: 1rem;
  width: 20%;
  height: 100%;
}

.chat {
  padding: 1rem;
  // background: red;
  height: 100%;
  width: 60%;
}