@use "../../../styles/_variables";
.post-content {
  text-align: center;
}

.post-image {
  border-radius: 1.2rem;
  cursor: pointer;
  display: block;
  height: 15rem;
  margin: 0 auto;
  object-fit: cover;
  width: 15rem;

  @media (min-width: variables.$breakpoint-mobile) {
    width: 20rem;
    height: 20rem;
  }

  @media (min-width: variables.$breakpoint-tablet) {
    width: 40rem;
    height: 40rem;
  }
}