$background: #f4f2ee;
$white: #ffffff;
$black: #000000;
$blue: #1820ef;
$blue-hover: #6386ff;
$red: #ff1e54;
$light-red: #fecaca;
$gray: #666666;
$light-gray: #e8e8e8;

$br-sm: 4px;
$br-md: 8px;
$br-lg: 12px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$text-sm: 1.2rem;
$text-md: 1.6rem;
$text-lg: 1.8rem;

$duration: 0.3s;
$easing: cubic-bezier(0.7, 0, 0.3, 1);