@import "../_global.scss";

.feed-page {
  height: 100dvh;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;

  // ------------------- Card --------------
  &__card {
    background: tomato;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 8px;
    width: 100%;

    @media (min-width: $breakpoint-mobile) {
      width: 80%;
    }
    @media (min-width: $breakpoint-tablet) {
      width: 600px;
    }
  }

  // ------------------- Author Info (name & photo) --------------
  &__author-info {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    max-width: 50%;
  }

  &__author-photo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    display: block;
    margin: 0;
  }

  // ------------------- Post Content --------------
  &__post-image {
    border-radius: 12px;
    cursor: pointer;
    display: block;
    height: 70px;
    margin: 0 auto;
    object-fit: cover;
    width: 70px;

    @media (min-width: $breakpoint-mobile) {
      width: 150px;
      height: 150px;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 400px;
      height: 400px;
    }
  }

  &__comments-wrapper {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__comment {
    background: $background-white;
    padding: 2px 4px;
  }
}