@import "../_global.scss";

.feed-page {
  height: 100dvh;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  // ------------------- Card --------------
  &__card {
    background: tomato;
    display: flex;
    // border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 4px;
  }

  // ------------------- Author Info (name & photo) --------------
  &__author-info {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    max-width: 50%;
  }

  &__author-photo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    display: block;
    margin: 0;
  }

  // ------------------- Post Content --------------
  &__post-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
  }

  &__comments-wrapper {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
  }

  &__comment {
    background: $background-white;
    padding: 2px 4px;
  }
}