@use "@/styles/_variables";

.header-content {
  width: 100%;
  background: variables.$white;
  height: variables.$header-height;
  position: relative;

  &__link-page {
    cursor: pointer;
    color: variables.$gray;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__el {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__user-info {
    opacity: 0;

    @media (min-width: variables.$breakpoint-mobile) {
      position: absolute;
      right: 5%;
      top: 50%;
      opacity: 1;
      transform: translateX(-50%);
      transform: translateY(-50%);
    }
  }
}