@use "@/styles/_variables";

.header-content {
  width: 100%;
  background: variables.$white;

  &__link-page {
    cursor: pointer;
    color: variables.$gray;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}