@use "@/styles/_variables";

.like-button {
  font-size: 3rem;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: white;

  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 2;
  transition: transform variables.$duration variables.$easing;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: variables.$breakpoint-mobile) {
    font-size: 4rem;
  }
}

.comment-button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.3em 0.6em rgba(black, 0.3);
  border-radius: inherit;
  transition: inherit;
}

.like-button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.3em 0.6em rgba(black, 0.3);
  border-radius: inherit;
  transition: inherit;
}

.like-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: variables.$white;
  border-radius: inherit;
  z-index: -1;
}

.comment-button:active:before {
  animation: depress-shadow variables.$duration variables.$easing both;
}

.like-button:active:before {
  animation: depress-shadow variables.$duration variables.$easing both;
}

.like-button:focus:after {
  animation: depress variables.$duration variables.$easing both;
}

@keyframes depress {
  from,
  to {
    transform: none;
  }
  50% {
    transform: translateY(5%) scale(0.9);
  }
}

@keyframes depress-shadow {
  from,
  to {
    transform: none;
  }
  50% {
    transform: scale(0.5);
  }
}

.like-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.like-wrapper > * {
  margin: auto;
  grid-area: 1 / 1;
}

.plus path {
  stroke: variables.$blue;
  stroke-width: 3;
  fill: transparent;
  transition: fill variables.$duration variables.$easing;
}

.heart {
  width: 0.5em;
  height: 0.5em;
  display: block;
  transition: fill variables.$duration variables.$easing;
}

.heart path {
  stroke: variables.$red;
  stroke-width: 2;
  fill: transparent;
  transition: fill variables.$duration variables.$easing;
}

.like-button.active .heart path {
  fill: variables.$red;
}

.particles {
  width: 1px;
  height: 1px;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.1em;
  width: 0.1em;
  border-radius: 0.05em;
  background-color: var(--color);
  --percentage: calc(var(--i) / var(--total-particles));
  --Θ: calc(var(--percentage) * 1turn);
  transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
  transition: all variables.$duration variables.$easing;
}

.like-button.active .particle {
  animation: particles-out calc(variables.$duration * 1.2) variables.$easing
    forwards;
}

@keyframes particles-out {
  50% {
    height: 0.3em;
  }
  50%,
  60% {
    height: 0.3em;
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: 0.2em;
  }
  100% {
    transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}

.ripple {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.ripple:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.4em solid variables.$red;
  border-radius: inherit;
  transform: scale(0);
}

.like-button.active .ripple:before {
  animation: ripple-out variables.$duration variables.$easing;
}

@keyframes ripple-out {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(5);
  }
}