@use "@/styles/_variables";

.app-dark {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9));
}

.modal {
  text-align: center;
  background-color: variables.$background;
  border: 0.2rem solid black;
  border-radius: variables.$br-md;
  width: 90%;
  max-width: 60rem;
  padding: 2rem 0rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  &__close-button {
    align-items: center;
    background-color: variables.$light-gray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    margin: 1rem auto;
    display: block;
  }
}

.display-none {
  display: none;
}

.display {
  display: block;
}