@use "@/styles/_variables";

.friends-page {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-direction: column;
  align-items: center;
  padding-top: 1.6rem;
}

.sortable-list {
  padding: 2rem;
  background: transparent;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;

  @media (min-width: variables.$breakpoint-mobile) {
    background: variables.$white;
    border-radius: 7px;
    border-radius: variables.$br-lg;
    width: 80%;
  }
  @media (min-width: variables.$breakpoint-tablet) {
    width: 60rem;
  }
}

.item {
  list-style: none;
  display: flex;
  cursor: move;
  background: variables.$white;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.06);
  border: 1px solid variables.$gray;
  justify-content: space-between;
  transition: transform variables.$duration variables.$easing;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  &:after {
    content: "see messages";
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: variables.$gray;
    position: absolute;
  }
}

.dragging {
  opacity: 0.6;
  background: variables.$light-gray;
  border: 0.2rem dashed variables.$gray;
}

.display-none {
  display: none;
}

.search-input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid variables.$gray;
  outline: none;
  background-color: variables.$white;
  color: variables.$gray;
  border-radius: variables.$br-md;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input-wrapper {
  position: relative;
  padding: 2rem;
  border-radius: variables.$br-md;
  width: 100%;

  &::after {
    content: "press enter";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    padding: 2rem;
    color: gray;
    font-size: 1.4rem;
    pointer-events: none;
  }

  @media (min-width: variables.$breakpoint-mobile) {
    width: 80%;
    padding: 0;
    &::after {
      padding: 0;
    }
  }
  @media (min-width: variables.$breakpoint-tablet) {
    width: 60rem;
  }
}