@use "@/styles/_variables";

.chatMessages {
  display: flex;
  flex-direction: column;
  height: 75rem;
  max-height: 100%;
  padding: 1rem;
  width: 100%;

  @media (min-width: variables.$breakpoint-tablet) {
    max-width: 60rem;
    height: 100%;
    max-height: 100%;
  }
}

.msgContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
    border-radius: 8px;
    border: 2px solid #f3f3f3;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ff8c00;
  }
}

.baseMsg {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 0.8rem;
  border-radius: variables.$br-lg;
  margin: 0.5rem;
  word-wrap: break-word;
  word-break: break-word;

  white-space: pre-wrap;
}

.myMsg {
  align-self: flex-end;
  background-color: variables.$light-green;
  color: green;
}

.friendMessage {
  align-self: flex-start;
  background-color: variables.$light-yellow;
  color: gray;
}

.header {
  align-items: center;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 100%;
  background: variables.$white;
  border-radius: variables.$br-sm;
  z-index: 1;
}