@use "@/styles/_variables";

.msgContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.baseMsg {
  background: variables.$white;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding: 8px;
  border-radius: variables.$br-lg;
  margin: 5px;
}

.myMsg {
  align-self: flex-end;
  background-color: #e0ffe0; /* verde claro */
  color: green;
}

.friendMessage {
  align-self: flex-start;
  background-color: #fff0e0; /* amarelo claro */
  color: gray;
}